
// -----------------調整顏色---------------------
$first-color:#DAA520;
$second-color:#FAEBD7;
$third-color:#2F4F4F;
// ---The END-------調整顏色---------------------

// -------------------三種螢幕下的字體大小font---------------------
$font-family:Krungthep;
$lg-title:3.5rem;
$md-title:5rem;
$sm-title:2rem;

$lg-h:2.5rem;
$md-h:3.5rem;
$sm-h:1.6rem;

$lg-text:1.5rem;
$md-text:2rem;
$sm-text:1.2rem;
// ---The END---------三種螢幕下的字體大小font---------------------


// -------------------導覽列字體大小---------------------
$navbar-home-title-fontSize:2.25rem;
$navbar-item-fontSize:1.75rem;
// ---The END---------導覽列字體大小---------------------

// -------------------首頁main螢幕填滿---------------------
$main-lg-hight:90vh;
$main-md-hight:50vh;
$main-sm-hight:35vh;


$footer-lg-hight:10vh;
$footer-md-hight:13vh;
$footer-sm-hight:30vh;
// ---The END--------------首頁main螢幕填滿---------------------



.photolocation{
    display: flex;
    justify-content: center;
    align-items: center;
}//調整myphoto垂直水平置中
.myphoto{
    border-radius: 50%;
}//將圖片設定圓型



.navbar{
    background: $first-color; 
    font-family: $font-family;
    & .navbar-brand{
        color: $second-color;
        font-size: $navbar-home-title-fontSize;
    }
    & .navbar-collapse{
        & .nav-item{
            background: $second-color;
            margin-left: 20px;
            border-radius: 5px;
            border: 2px $third-color solid;
            & .nav-link{
                text-align: center;
                color: $third-color;
                font-size: $navbar-item-fontSize;
            }
        }
        & .nav-item:hover{
            background: $third-color;
            border: 2px $second-color solid;
            & .nav-link{
                color:$second-color;
            }
        }
    }
}//navbar區塊



.contact{
    background:$third-color; 
    color:$second-color;
    font-family: $font-family;
    height: 100vh;//填滿螢幕高度
}//contact 內容區

.contact-btn{
    background: $second-color;
    border: 3px $first-color solid;
    border-radius: 5%;
    padding: 15px;
    font-size: 2.5rem;
    color: $third-color;
    text-decoration:none;
    &:hover{
        background: $third-color;
        color: #FAEBD7;
    }
}//contact 按鈕




.main{
    background:$third-color; 
    color:$second-color;
    font-family: $font-family;
}//首頁 內容區

.about{
    background:$third-color; 
    color:$second-color;
    font-family: $font-family;
    .skill{
        p{
            text-align: center;
        }
    }
}//About 內容區

.project{
    background:$third-color; 
    color:$second-color;
    font-family: $font-family;
    height: 100vh;//填滿螢幕高度 (可以取消)
}//project 內容區

.footer{
    background: $first-color;
    font-family: $font-family;
    color:$second-color;
    .footer-item{
        padding: 20px;
    }
}//公用的footer






@media(min-width:0px) {

    .public-title{
        font-size:$sm-title;
        text-align: center;
    }//公用的標題字大小
    .public-h{
        font-size: $sm-h;
        text-align: start;
    }//公用的次標題字大小
    .public-p{
        font-size: $sm-text;
        text-align: start;
    }//公用的文字大小

    .myphoto{
        margin-top: 40px;
        height: 250px;
    }//sm調整照片大小

    .nav-item{
        margin-top: 20px;
    }//nav選單出現時其他選項的間距離
    
    .main{
        min-height: $main-sm-hight;
        height: 100%;
        .main-container-text{
            height: $main-sm-hight;//控制最大高度
            padding-top: 3%;
            text-align: center;
        }
        .main-title{
            font-size:$sm-title;
        }
        .main-p{
            font-size: $sm-text;
        }
    }


    .footer{
       min-height:$footer-sm-hight;
       .footer-item{    
            text-align: start;
            .footer-title{
                font-size: 1.3rem;
                color:$third-color;
            }
            a{
               font-size: 1rem;
            }
        }
    }
    
}

@media (min-width:768px) {

    .public-title{
        font-size:$md-title;
    }
    .public-h{
        font-size: $md-h;
    }
    .public-p{
        font-size: $md-text;
    }
    .myphoto{
        margin-top: 80px;
        height: 400px;
    }//調整照片大小

    .nav-item{
        margin-top: 40px;
    }//nav選單沒出現時其他選項的margin不動

    .main{
        min-height: $main-md-hight;
        height: 100%;
        .main-container-text{
            height: $main-md-hight;//控制最大高度
            padding-top: 5%;
            text-align: center;
        }
        .main-title{
            font-size:$md-title;
        }
        .main-p{
            font-size: $md-text;
        }
    }


    .footer{
       min-height:$footer-md-hight;
       .footer-item{    
             text-align: start;
             .footer-title{
                 font-size: 1.7rem;
                 color:$third-color;
             }
             a{
                font-size: 1.5rem;
             }
         }
     }
}

@media (min-width:996px) {

    .public-title{
        font-size:$lg-title;
    }
    .public-h{
        font-size: $lg-h;
    }
    .public-p{
        font-size: $lg-text;
    }
    .myphoto{
        margin-top: 0px;
        height: 50vh;
    }//調整照片大小


    .nav-item{
        margin-top: 0px;
    }//nav選單沒出現時其他選項的margin不動

    .main{
        min-height: $main-lg-hight;
        height: 100%;
        .main-container-text{
            height: $main-lg-hight;//控制最大高度
            padding-top: 20%;
            text-align: start;
        }
        .main-title{
            font-size:$lg-title;
        }
        .main-p{
            font-size: $lg-text;
        }
    }


    .footer{
        min-height:$footer-lg-hight;
        .footer-item{    
            text-align: start;
            .footer-title{
                font-size: 1.3rem;
                color:$third-color;
            }
            a{
                font-size: 1rem;
            }
        }
    }
}



